.btn,
.toast,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 40px;
  background: #e7da23;
  border-radius: 100px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.toast {
  width: 500px;
  height: 60px;
  background: #f38200;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.card {
  width: 250px;
  height: 200px;
  background: #56b3ff;
  border-radius: 20px 20px 6px 6px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
